

header{
    background-color: grey;
    height: 100px;
}

header nav img {
    float: left;
    margin-top: 30 px;
    margin-bottom: 30px;
    padding: 12px;
    margin-left:400px;
  }

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 15px;
    margin-top: 25px;
    margin-right: 40px;
}

main div p img{
    padding-top: 25px;
    text-align: center;

}

div p{
    padding-top: 25px;
    text-align: center;
}

main section img{
    float: left;
    margin-left: 437px;
    margin-right: 20px;
    padding-top: 20px;
    margin-bottom: 25px;
}

main section p{
    padding-top: 20px;
    width:420px;
    overflow-y: auto;
    height: 100px;
}


footer {
clear: both;
background-color: grey;
margin-top: 25px;
height: 100px;

}



